/* 
Andre Sebastian Vizcarra Salas
Azul Paola Rodriguez Ruiz 
2AmPr Proyecto Parcial 2 ISSI
*/
.liA {
    font-size: 150%;
    padding: 10px;
}

.parrafoA {
    text-align: center;
    padding-bottom: 35px;
}

.subtituloA {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}