.tituloC {
    text-align: center;
    padding-bottom: 35px;
}

.parrafoC {
    text-align: center;
    font-style: italic;
    padding-bottom: 35px;
}

.liC {
    text-align: center;
    font-size: 170%;
}